{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "@wetransfer/wetransfer"
  ],
  "rules": {
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ]
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "__dirname": true,
    "global": true,
    "module": true,
    "process": true
  }
}
